{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4"><b>상품 목록</b></h1>

    <!-- 🔍 검색 폼 추가 -->
    <form method="GET" action="{% url 'product_list' %}" class="d-flex mb-4">
        <input type="text" name="q" class="form-control me-2"
               placeholder="상품명을 검색하세요..." value="{{ query }}">
        <button type="submit" class="btn btn-outline-primary">🔍</button>
    </form>

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        {% if content_list %}
        {% for content in content_list %}
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="card col-lg-7">
                 <!-- 상품별 이미지 표시 -->
                <!-- admin 페이지에서 링크 추가 -->
                <img class="img-fluid rounded mb-4 mb-lg-0"
                     src="{{ content.image_url|default:'https://dummyimage.com/900x400/dee2e6/6c757d.jpg' }}"
                     alt="{{ content.title }}" />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{ content.title }}</h1>
                <p>{{ content.content | truncatewords:20 }}</p>
                <a class="btn btn-outline-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>content가 없습니다.</p>
        {% endif %}
    </div>
</div>
{% endblock %}