<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <!-- 회사 정보 -->
            <div class="col-lg-4 text-white">
                <h3>Kwangwoon Group</h3>
                <p>주소: 서울특별시 노원구 광운로 20<br>사업자 등록번호: 123-45-67890<br>대표: 홍길동</p>
            </div>
            <!-- 연락처 -->
            <div class="col-lg-4 text-white">
                <h3>Contact Us</h3>
                <p>Email: info@kwangwoon.com<br>Phone: 02-123-4567<br>Fax: 02-987-6543</p>
            </div>
            <!-- 링크 -->
            <div class="col-lg-4 text-white">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li>➡️ <a href="/company" class="text-white">회사 소개</a></li>
                    <li>➡️ <a href="/product" class="text-white">상품 소개</a></li>
                    <li>➡️ <a href="/support" class="text-white">고객 지원</a></li>
                </ul>
            </div>
        </div>
        <p class="m-0 text-center text-white mt-4">Copyright &copy; Discover Kwangwoon Group 2025. All rights reserved.</p>
    </div>
</footer>
